{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="container-table">
    <div id="tableuser">
        <h1 style="text-align: center;"><i class="fas fa-user"></i> Usuarios</h1>
        <div class="buscador">
            <input type="text" id="usersearch" onkeyup="myFunction19()" placeholder="Buscar usuario"
                title="Type in a name">
        </div>
        <table class="admin-table" style="max-width: 700px;" style="text-align: center;">
            <tr class="header">
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Empresa</th>
                <th>Pais</th>
                <th class="editable">Msj.Oculto 
                    <button type="button" onclick="myFunction22()"  id="buttoncursivo">
                        <i class="fas fa-edit"></i></button></th>
                <th>Enviados</th>
                <th>Líneas</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.name}}</td>
                <td>{{usuario.username}}</td>
                <td>
                    {% if usuario.empresa %}
                    {{usuario.empresa}}
                    {% else %}
                    <p> </p>
                    {% endif %}

                </td>
                <td>
                    {% if usuario.pais %}
                    {{usuario.pais}}
                    {% else %}
                    <p> </p>
                    {% endif %}
                </td>
                <td><button onclick="myFunction23('{{usuario.username}}')" type="button">
                    {% if usuario.mensajeoculto %}
                    <i class="fas fa-check-circle"></i>
                    {% else %}
                    <i class="fas fa-times-circle"></i>
                    {% endif %}
                    </button></td>
                <td><a href="{{ url_for('envios', user_id=usuario.id) }}"><button type="button"><i class="fas fa-envelope"></i></button></a></td>
                <td><a href="{{ url_for('lineas', user_id=usuario.id) }}"><button type="button"><i class="fas fa-project-diagram"></i></button></a></td>
                <td><button onclick="myFunction8('{{usuario.username}}', '{{usuario.name}}', '{{usuario.empresa}}', '{{usuario.pais}}')"
                        type="button"><i class="fas fa-edit"></i></button></td>
                
                <td><button onclick="myFunction9('{{usuario.username}}')" type="button"><i
                            class="fas fa-times"></i></button></td>
            </tr>
            {% endfor %}

        </table>
        <button onclick="myFunction17()" type="button" style="width: 50%; margin-left: 25%;" class="asignar">Agregar
            Usuario</button>
    </div>


    <form id="formuser" action="{{ url_for('admin') }}" method="post" class="toggleshow"
        style="max-width: 420px;margin: 0 auto;">
        <input type="hidden" id="hiddenelim" name="formhidden" value="1">
        <h2 style="text-align: center;"><i class="fas fa-user-plus"></i> Crear usuario</h2>

        <label for="name"><b>Nombre</b></label>
        <input type="text" placeholder="Ingrese el nombre" name="name" required>

        <label for="empresa"><b>Empresa</b></label>
        <input type="text" placeholder="Ingrese la empresa" name="empresa">

        <label for="selectorflags"><b>País</b></label>
        <select id="selectoradmin" name="selectorflags">
            <option value="Argentina">Argentina</option>
            <option value="Brasil">Brasil</option>
            <option value="Bolivia" >Bolivia</option>
            <option value="Chile">Chile</option>
            <option value="Colombia">Colombia</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Mexico">Mexico</option>
            <option value="Perú">Perú</option> 
            <option value="Paraguay">Paraguay</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Venezuela">Venezuela</option>
        </select>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Ingrese su nombre de usuario" name="username" required>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Ingrese su contraseña" name="password" required>

        <input type="submit" value="Guardar">
    </form>


    <form id="formuserupdate" action="{{ url_for('admin') }}" method="post" class="toggleshow"
        style="max-width: 420px;margin: 0 auto;">
        <input type="hidden" id="hiddenupdate" name="formhidden" value="2">
        <input type="hidden" id="olduser" name="olduser" value="">
        <h2 style="text-align: center;"><i class="fas fa-user-plus"></i> Actualizar usuario</h2>

        <label for="name"><b>Nombre</b></label>
        <input id="unameupd" type="text" placeholder="Ingrese el nombre" name="name" required>

        <label for="empresa"><b>Empresa</b></label>
        <input id="uempresaupd" type="text" placeholder="Ingrese la empresa" name="empresa">

        <label for="selectorflags"><b>País</b></label>
        <select id="selectoradminupd" name="selectorflags">
            <option value="Argentina">Argentina</option>
            <option value="Brasil">Brasil</option>
            <option value="Bolivia" >Bolivia</option>
            <option value="Chile">Chile</option>
            <option value="Colombia">Colombia</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Mexico">Mexico</option>
            <option value="Perú">Perú</option> 
            <option value="Paraguay">Paraguay</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Venezuela">Venezuela</option>
        </select>

        <label for="username"><b>Username</b></label>
        <input id="uusernameupd" type="text" placeholder="Ingrese el nombre de usuario" name="username" required>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Dejar vacio para no cambiar contraseña" name="password">

        <input type="submit" value="Actualizar">
    </form>

    <div id="formuserdelete" class="toggleshow">
        <br>
        <form action="{{ url_for('admin') }}" method="post">
            <input type="hidden" id="hiddenuserform2" name="formhidden" value="3">
            <input type="hidden" id="hiddenuserdelete" name="username" value="">
            <p style="text-align: center;"><b>¿Seguro que elimina a este usuario?</b></p>
            <input type="submit" value="Confirmar">
        </form>
    </div>

    <div id="formupdmensaje" class="toggleshow">
        <br>
        <form action="{{ url_for('admin') }}" method="post">
            <input type="hidden" id="hiddenmsjoculto" name="formhidden" value="4">
            <label for="mensaje">Nuevo mensaje oculto</label> 
            <textarea id="msjoculto" name="mensaje" placeholder="Mensaje...">{{ mensajeoculto}}</textarea>
            <input type="submit" value="Aceptar">
        </form>
    </div>

    <div id="formupdestadomensaje" class="toggleshow">
        <br>
        <form action="{{ url_for('admin') }}" method="post">
            <input type="hidden" id="hiddeneditmsj" name="formhidden" value="5">
            <input type="hidden" id="hiddenuseredit" name="username" value="">
            <p style="text-align: center;"><b>¿Seguro de hacer este cambio?</b></p>
            <input type="submit" value="Confirmar">
        </form>
    </div>
</div>

{% endblock %}