{% extends "layout.html" %}

{% block title %}
WhatsApp - API
{% endblock %}

{% block body %}

<div class="container-table">
    <h1><i class="fas fa-address-book"></i> Asignar</h1>
    <h4>Seleccione un usuario y las líneas que quiere asignarle</h4>
    <p id="mensajeSend"></p>
    <br>
    <form action="{{ url_for('asignar') }}" method="post">
    <div class="row">
        <div class="column">
            <h3 style="text-align: center;"><i class="fas fa-user"></i> Usuarios</h3>
            <div class="buscador">
                <input type="text" id="myInput" onkeyup="myFunction3()" placeholder="Buscar usuario"
                    title="Type in a name">
            </div>
            <table id="myTable">
                <tr class="header">
                    <th style="width:70%;">Nombre</th>
                    <th style="width:30%;">Usuario</th>
                </tr>
                
                {% for usuario in usuarios %}
                <tr id="{{ usuario.username }}" onclick="myFunction5('{{ usuario.username }}')">
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.username}}</td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
        <div class="column">
            <h3 style="text-align: center;"><i class="fas fa-project-diagram"></i> Líneas de Chat-API</h3>
            <div class="buscador">
                <input type="text" id="myInput2" onkeyup="myFunction4()" placeholder="Buscar línea"
                    title="Type in a name">
            </div>
            <table id="myTable2">
                <tr class="header">
                    <th style="width:25%;">Nombre</th>
                    <th style="width:50%;">API URL</th>
                    <th style="width:25%;">Token</th>
                </tr>
                
                {% for linea in lineas %}
                
                <tr id="{{linea.name}}" onclick="myFunction6('{{ linea.name }}')">
                    <td>{{linea.name}}</td>
                    <td>{{linea.api_url}}</td>
                    <td>{{linea.token}}</td>
                </tr>
                
                {% endfor %}
            </table>
        </div>
    </div>
    <button type="button" style="width: 50%; margin-left: 25%;" class="asignar" onclick="myFunction7()">Asignar</button>
</form>
</div>

{% endblock %}