{% extends "layout.html" %}

{% block title %}
WhatsApp - API
{% endblock %}

{% block body %}
<div class="container-table" >
    <h1 style="text-align: center;"><i class="fas fa-address-book"></i> Asignar</h1>
    <p id="mensajeSend"></p>
    <div >
        
        <div class="buscador">
            <input type="text" id="buscasig" onkeyup="myFunction21()" placeholder="Buscar usuario" title="Type in a name">
        </div>
        <table class="admin-table" id="tablaasignar" style="max-width: 700px;" style="text-align: center;">

            <tr class="header">
                <th></th>
                {% for linea in lineas %}
                <th>{{linea.name}}</th>
                {% endfor %}
            </tr>
            {% for item in asignaciones %}
            <tr>
                <th>{{item[1]}}</th>
                {% for element in item[2:] %}
                <td><button onclick="myFunction7('{{ item[0] }}', '{{ element[0] }}', '{{ element[1] }}')" type="button">&#x{{element[0]}};</button></td>
                 {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="formchange" class="toggleshow">
        <br>
        <form action="{{ url_for('asignar') }}" method="post">
            <input type="hidden" id="hiddenchange" name="formhidden" value="1">
            <input type="hidden" id="userchange" name="username" value="">
            <input type="hidden" id="elementchange" name="element" value="">
            <input type="hidden" id="lineachange" name="linea" value="">
            <p style="text-align: center;"><b>¿Estas seguro del cambio?</b></p>
            <input type="submit" value="Confirmar">
        </form>
    </div>

</div>
{% endblock %}