{% extends "layout.html" %}

{% block title %}
    WhatsApp - API
{% endblock %}

{% block body %}
<div class="container">
    <h1>WhatsApp - API</h1>

    <p>Por el momento solo envia texto</p>
    <p>Se necesita registrarse para enviar un mensaje</p>
    
    <h3>Mejoras posibles</h3>
    <ul>
        <li>Mejor interfaz</li>
        <li>Login de usuario seguro</li>
        <li>Adjuntar archivos y agregar emojis al mensaje</li>
        <li>Lista de numeros para no ingresarlos manualmente</li>
    </ul>
</div>
{% endblock %}