{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="container">
    
    
    <form action="{{ url_for('login') }}" method="post">
        <h1 style="text-align: center;"><i class="fas fa-sign-in-alt"></i>  Ingresar</i></h1>
        {{ message }}
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder=" Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}