{% extends "layout.html" %}

{% block title %}
Enviar Mensaje
{% endblock %}

{% block body %}


<div class="container">
  <form id="formulario" action="{{ url_for('send') }}" method="post" enctype="multipart/form-data">
    
    <h2 style="text-align: center;"><i class="fas fa-share-square"></i> Enviar Mensajes</h2>
    <select class="" name="instancia">
      {% for linea in lineas %}
          <option value="{{ linea }}">{{ linea }}</option>
      {% endfor %}
  </select>
    <label for="phone">Numero de Telefono</label>
    <input type="text" id="phone" name="phone" placeholder="Escriba el numero" required>
    {% for numero in numeros %}
      <p value="{{ numero }}">{{ numero }}</option>
    {% endfor %}
    <br>
    <label for="mensaje">Texto</label>
    <textarea id="mensaje" name="mensaje" placeholder="Mensaje..." style="height:200px"></textarea>
    <div class="dropdown-emojis">
      
      <input type="file" id="myfile" name="archivo" class="inputfile">
      <label for="myfile"><i  class="fas fa-paperclip"></i> Adjuntar</label>
      <button onclick="myFunction()" class="dropbtn-emojis" type="button">&#x1F604;<i 
        class="fa fa-caret-down"></i></button>
      
      <input type="submit" value="Enviar">
      
    </div>
    <div id="myDropdown-emojis" class="dropdown-content-emojis">
      {% for icono in iconos %}
          <p onclick="document.getElementById('mensaje').value += '&#x{{ icono }};';">&#x{{ icono }};</p>
      {% endfor %}
    </div>
    
  </form>
  {{ message }}
</div>

{% endblock %}