{% extends "layout.html" %}

{% block title %}
Enviar Mensaje
{% endblock %}

{% block body %}
<script>document.addEventListener("DOMContentLoaded", () => {
  myFunction20('{{ paisuser }}');
});</script>

<div class="container">
  {{ message }}
  <form id="formulario" action="{{ url_for('send') }}" method="post" enctype="multipart/form-data">
    
    <h2 style="text-align: center;"><i class="fas fa-share-square"></i> Enviar Mensajes</h2>
    
    <label for="phone">Numero de Telefono </label>
    
    <div id="banderas">
      <select id="selectorflags" name="selectorflags" >
          <option value="549">&#x1F1E6;&#x1F1F7; (+549)</option>
          <option value="55">&#x1F1E7;&#x1F1F7; (+55)</option>
          <option value="591">&#x1F1E7;&#x1F1F4; (+591)</option>
          <option value="56">&#x1F1E8;&#x1F1F1; (+56)</option>
          <option value="57">&#x1F1E8;&#x1F1F4; (+57)</option>
          <option value="593">&#x1F1EA;&#x1F1E8; (+593)</option>
          <option value="52">&#x1F1F2;&#x1F1FD; (+52)</option>
          <option value="51">&#x1F1F5;&#x1F1EA; (+51)</option> 
          <option value="595">&#x1F1F5;&#x1F1FE; (+595)</option>
          <option value="598">&#x1F1FA;&#x1F1FE; (+598)</option>
          <option value="58">&#x1F1FB;&#x1F1EA; (+58)</option>
      </select>
      <div >
        <input type="text" id="phone" name="phone" placeholder="Ingrese el número" autocomplete="nope"  class="numbers" onkeyup="myFunction16()" onclick="myFunction14()" required>
        {% if numeros  %}
        <div id="listaNumeros" class="toggleshow">
          {% for numero in numeros %}
            <p class="numbers" value="{{ numero }}" onclick="myFunction15('{{ numero }}')">{{ numero }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
       </div>
    
    
    <br>
    <label for="cliente">Nombre del Cliente</label>
    <input type="text" id="cliente" name="cliente" placeholder="Este texto se envía como primer mensaje" required>

    <div id="flexlabel">
      <label for="mensaje">Texto</label> 
      <div class="editable">
        <input type="checkbox" name="check" id="checkcursivo" checked> 
        <label for="check" id="labelcursivo" > Texto de confirmación </label>
        <button type="button" id="buttoncursivo"><i class="fas fa-edit"></i></button>
      </div>
      
    </div>


    <textarea id="mensaje" name="mensaje" placeholder="Mensaje..." ></textarea>
    <div class="dropdown-emojis">
      
      <input type="file" id="myfile" name="archivo" class="inputfile" oninput="myFunction13()">
      <label for="myfile"><i  class="fas fa-paperclip"  ></i> Adjuntar <span id="nombrearchivo"></span> </label>

      
      <button onclick="myFunction()" class="dropbtn-emojis" type="button">&#x1F604;<i 
        class="fa fa-caret-down"></i></button>
      
      <input type="submit" value="Enviar">
    </div>
    <div id="myDropdown-emojis" class="dropdown-content-emojis">
      {% for icono in iconos %}
          <p onclick="document.getElementById('mensaje').value += '&#x{{ icono }};';">&#x{{ icono }};</p>
      {% endfor %}
    </div>
    
  </form>
  
</div>

{% endblock %}