{% extends "layout.html" %}

{% block title %}
Sing up
{% endblock %}

{% block body %}
<div class="container">
    
    <form action="{{ url_for('signup') }}" method="post">
        <h1 style="text-align: center;"><i class="fas fa-user-plus"></i> Crear usuario</h1>

        <label for="name"><b>Nombre</b></label>
        <input type="text" placeholder="Ingrese el nombre" name="name" required>

        <label for="empresa"><b>Empresa</b></label>
        <input type="text" placeholder="Ingrese la empresa" name="empresa" >
        
        <label for="selectorflags"><b>País</b></label>
        <select id="selectorsignup" name="selectorflags" >
            <option value="549">Argentina</option>
            <option value="55">Brasil</option>
            <option value="591" selected="selected">Bolivia</option>
            <option value="56">Chile</option>
            <option value="57">Colombia</option>
            <option value="593">Ecuador</option>
            <option value="52">Mexico</option>
            <option value="51">Perú</option> 
            <option value="595">Paraguay</option>
            <option value="598">Uruguay</option>
            <option value="58">Venezuela</option>
        </select>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Ingrese su nombre de usuario" name="username" required>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Ingrese su contraseña" name="password" required>

        <input type="submit" value="Guardar">
    </form>
</div>

{% endblock %}