* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ddd;
    width: 100%;
    text-align: center;
    
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(30,135,125);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  overflow: hidden;
  -webkit-overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a, .topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav .icon {
  display: none;
}

.topnav .right {
  float: right;
}

@media screen and (max-width: 750px) {
  .topnav a:not(:first-child) {display: none;}

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(22, 102, 94);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

form, ul {
    text-align: left;
    height: 100%;
    -webkit-padding: 0.5rem;
    padding: 0.5rem;
    
}

form label, .container-table h4 {
  color: rgb(18, 77, 71);
}

form h2, form h1, .container-table h1  {
 padding: 15px;
 margin-bottom: 10px;
 color: rgb(22, 99, 91);
}

.container-table h3, .container-table h4 {
  color: rgb(22, 99, 91);
}


#wrapper {
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-margin-top: 7vh;
  margin-top: 7vh;
}

/* Style inputs with type="text", select elements and textareas */
input[type=password], input[type=text], select, textarea {
    width: 100%; /* Full width */
    -webkit-padding: 1rem; 
    padding: 1rem;/* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    -webkit-border-radius: 4px;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    -webkit-resize: vertical; 
    resize: vertical;/* Allow the user to vertically resize the textarea (not horizontally) */
    -webkit-font-size: 1rem;
    font-size: 1rem;
  }

  textarea {
    margin-bottom: 0;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit], .asignar, #admin {
    background-color: rgb(30,135,125);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    -webkit-cursor: pointer;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 15px;
    resize: vertical;
    -webkit-resize: vertical;
    -webkit-font-size: large;
    font-size: large;
  }
 
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover, #asignar:hover {
    background-color: rgb(22, 102, 94);

  }

  input[type=file] {
      width: 0.1px;
      height: 0.1px;
      -webkit-opacity: 0;
      opacity: 0;
      -webkit-overflow: hidden;
      overflow: hidden;
      position: absolute;
      -webkit-z-index: -1;
      z-index: -1;
  }

  input[type=file] + label {
    display: inline-block;
    -webkit-cursor: pointer;
    -webkit-padding: 1rem;
    cursor: pointer;
    padding: 1rem;
}


.container {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-margin: 2rem;
  margin: 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 420px;
}

.container-table {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-margin: 2rem;
  margin: 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myDropdown-emojis p {
  -webkit-cursor: pointer;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -webkit-font-size: 1.2rem;
  font-size: 1.2rem;
}


.dropbtn-emojis {
  padding: 16px;
  font-size: 16px;
  border: none;
  -webkit-cursor: pointer;
  cursor: pointer;
}

.dropbtn-emojis:hover, .dropbtn-emojis:focus {
  -webkit-outline: none;
  outline: none;
}

.dropdown-emojis {
  display: block;
  width: 100%;
}
.dropdown-emojis button {
  float: right;
  background-color: #f2f2f2;
}
.dropdown-emojis label {
  float: left;
}

.dropdown-content-emojis {
  display: none;
  -webkit-overflow: scroll;
  overflow: scroll;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fcfafa;
  -webkit-margin-top: 0.5rem;
  margin-top: 0.5rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-content-emojis p {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.dropdown-emojis p:hover {background-color: #ddd;}

.show {
  display: block; 
  -webkit-height: 10rem;
  height: 10rem;
  max-width: 100%; 
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


#myTable, #myTable2 {
  border-collapse: collapse;
  display: block;
  width: 100%;
  border: 1px solid #ddd; /* Gray border */
  -webkit-border-radius: 4px;
  border-radius: 4px; 
  background-color: white;
  margin: 0.6rem auto;
  overflow: hidden;
}

#myTable th, #myTable td, #myTable2 th, #myTable2 td {
  text-align: left;
  padding: 12px;
  cursor: pointer;
  color: rgb(18, 77, 71);
}

#myTable tr, #myTable2 tr {
  border-bottom: 1px solid #ccc;
}

 #myTable tr:hover,  #myTable2 tr:hover {
  background-color: #d8d8d8;
}

#myTable tr.header th, #myTable2 tr.header th {
  color: white;
}

#myTable tr.header, #myTable2 tr.header {
  background-color: rgb(30,135,125);
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .container, .container-table  {
    padding: 10px;
    margin: 2rem 1rem;
    max-width: 330px;
  }
  
  
}

.selected {
  background-color: #afafaf;
}

.selected-lineas {
  background-color: #afafaf;
}

.toggleshow{
  display: none;
}


.admin-table {
  border-collapse: collapse;
  display: block;
  width: 100%;
  border: 1px solid #ddd; /* Gray border */
  -webkit-border-radius: 4px;
  border-radius: 4px; 
  background-color: white;
  margin: 0.6rem auto;
  -webkit-overflow: auto;
  overflow: auto;
  max-width: 580px;
}

.admin-table th, .admin-table td  {
  text-align: left;
  padding: 12px;
  cursor: pointer;
  color: rgb(18, 77, 71);
}

.admin-table tr {
  border-bottom: 1px solid #ccc;
}

.admin-table tr:hover {
  background-color: #d8d8d8;
}

.admin-table tr.header th {
  color: white;
}

.admin-table tr.header {
  background-color: rgb(30,135,125);
}

.admin-row {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.admin-table button {
  padding: 10px;
  -webkit-cursor: pointer;
  cursor: pointer;
  border: none;
  background-color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  color: rgb(18, 77, 71);
}

.admin-table button:hover {
  background-color:  rgb(30,135,125);
  color: white;

}

#nombrearchivo {
  font-size: smaller;
  color: #999999;
}


#listaNumeros {
  background-color: white;
  padding: 1rem;
  margin-top: -1rem;
  max-height: 100px;
  overflow: auto;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
}

#listaNumeros p {
  padding: 2px;
}

#listaNumeros p:hover {
  background-color: #ddd;
}


#banderas {
  -webkit-display: inline-flex;
  display: inline-flex;
  width: 100%;
}
#banderas div {
  width: 250px;
}

@media screen and (max-width: 600px) {
  #banderas div {
    width: 180px;
  }
}


#banderas select{
  width: auto;
  -webkit-padding: 0.6rem;
  padding: 0.6rem;
  color: rgb(22, 99, 91);
}
#selectorflags option{
margin: 0 auto;
}


#formulario input[type=text]  {
  padding: 0.7rem;
}

#formulario textarea {
  height: 8rem;
}

#formulario h3 { 
  margin-bottom: 10px;
  color: rgb(22, 99, 91);
}