* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ddd;
    padding: 0;
    margin: 0;
    
    text-align: center;
}

form, ul {
    text-align: left;
    margin: 2rem 0;
}

#wrapper {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(30,135,125);
    overflow: hidden;
    display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(22, 102, 94);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=password], input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 1rem; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(30,135,125);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(22, 102, 94);

  }

  input[type=file] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }

  input[type=file] + label {
    font-size: 1.25em;
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
}


#barra {
  display: block;
}
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  table {
      display:none;

  }
  table p {
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
  }

  .dropbtn {
    padding: 16px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 100%   ;
    top: 25px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}

  .dropbtn-emojis {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn-emojis:hover, .dropbtn-emojis:focus {
    outline: none;
  }
  
  .dropdown-emojis {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-emojis {
    display: none;
    overflow: scroll;
    max-height: 10rem;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content-emojis p {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-emojis p:hover {background-color: #ddd;}
  
  .show {display: block;}